<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{data.header.title|default('Scit')}}</title>
  <style>
    #loader{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        z-index: 9999999999999999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #loader > .content{
        width: 100px;
        height: 100px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 300%;
        color: deepskyblue;
    }
    </style>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/assets/css/selectize.css">
  <link rel="stylesheet" href="/assets/css/dashboard/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/assets/images/dashboard/favicon.png" />
</head>