<html>
    <body style="margin:0;padding:20px;">
        <div style="text-align:center;margin-bottom:20px;">
            <img src="" alt="SCIT">
        </div>
        <div style="text-align:center;padding-left: 40px; padding-right: 40px;">
            Thanks for joining the largest students carrier information tool. To verify your registration process, <a href="{{data.verification.url}}">please click on here.</a> or copy the following link {{data.verification.url}} to your web browser... Thank you
        </div>
    </body>
</html>